:root {
  --background-color: #eee;

  --primary-color: #0077cc;
  --primary-light-color: #005599;   /* delta: 0x00, 0x22, 0x33 */
  --secondary-color: #00adcc;
  --secondary-light-color: #008b99;

  --heading-color: #111;
  --paragraph-color: #333;

  --mystery-color: #00111a;
}

h1, h2, h3, strong {
  /* color: var(--heading-color); */
  color: var(--mystery-color);
}

body {
  color: var(--paragraph-color);
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
}

.helix-container {
  position: fixed;
  top: 0px;
  right: 0px;
}

@media (max-width: 1000px) {
  /* Visible now means hidden in this context... */
  .hideable {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
}

@media (min-width: 1000px) {
  .hideable {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.title {
  text-align: center;
}

h3.title {
  margin-top: -20px;
}

section.intro {
  display: flex;
  justify-content: space-between;

  .summary {
  }

}

ul {
  list-style: none;
}

li {
  margin-bottom: 20px;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* Project Items Display */
ul.projects {
  padding-left: 40px;
  padding-right: 40px;

  /* Project Item */
  li {

    /* Make tags look like rounded "bubbles" */
    ul.tags {
      order: 1;

      margin-top: 3px;
      margin-bottom: 8px;

      list-style: none;
      padding-left: 0px;
      margin-left: 0px;

      li {
        display: inline-block;
        cursor: default;

        margin-top: 6px;
        margin-bottom: 2px;
        margin-right: 8px;

        background: var(--secondary-color);
        color: #eee;
        padding: 5px 8px;
        border-radius: 20px;
        font-size: 12px;

        &:hover {
          background-color: var(--secondary-light-color);
          color: white;
        }
      }
    }

    div.image-container {
      float: right;
      width: 200px;
      margin-left: 20px;
      margin-right: 20px;
      /* border: 1px solid #ddd; */
    }

    .image {
      background-color: var(--secondary-light-color);
      width: 100%;
      border-radius: 40px;
      opacity: 80%;
    }

    /* Link/ header description */
    a.subject {
      order: 0;
      font-weight: bold;
      font-size: 18px;
      color: var(--primary-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: var(--primary-light-color);
      }
    }

    /* Natural paragraph-style description */
    p.description {
      order: 2;
      display: block;
      font-size: 16px;
      /* text-indent: 2rem; */
      /* padding-left: 2rem; */

      color: #333;
      margin-top: 4px;

      a {
        color: var(--primary-color);
        text-decoration: none;

        &:hover {
          color: var(--primary-light-color);
          text-decoration: underline;
        }
      }
    }
  }
}
