/* Get Big | Get small | wait 2 * n-1 frames where n is the number of titles I have are */
/* 8 frames total*/
@keyframes fontbulger {
  0%, 25%, 100% {
    font-size: 1.3em;
    color: var(--paragraph-color);
  }
  12.5% {
    font-size: 1.31em;
    color: var(--primary-color);
  }
}

@keyframes wellbulger {
  0%, 25%, 100% {
    /* font-size: 1.3em; */
    color: '#444';
  }
  12.5% {
    /* font-size: 1.31em; */
    color: var(--primary-color);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#subtitle.animate span:nth-child(1) {
  animation: fontbulger 4s;
  animation-delay: 0s;
}

#subtitle.animate span:nth-child(2) {
  animation: fontbulger 4s;
  animation-delay: 0.8s;
}

#subtitle.animate span:nth-child(3) {
  animation: fontbulger 4s;
  animation-delay: 1.6s;
}

#subtitle.animate span:nth-child(4) {
  animation: fontbulger 4s;
  animation-delay: 2.4s;
}

#contact.animate .centered-container {
  animation: wellbulger 2s;
  animation-delay: 3.2s;
}

.immediate-fade-in {
  animation: fadeIn 4s;
  animation-fill-mode: forwards;
}

section.my-work {
  opacity: 0;
}

section.my-work.delayed-fade-in {
  animation: fadeIn 4s;
  animation-fill-mode: forwards;
  animation-delay: 4.2s;
}
