@keyframes fontbulger {
  0%, 100% {
    font-size: 1.3em;
    color: var(--paragraph-color);
  }
  50% {
    font-size: 1.31em;
    color: var(--primary-color);
  }
}

@keyframes wellbulger {
  0%, 100% {
    /* font-size: 1em; */
    color: '#444';
  }
  50% {
    /* font-size: 1.01em; */
    color: var(--primary-color);
  }
}

@keyframes svgbulger {
  0%, 100% {
    padding-top: 4px;
    padding-right: 4px;
    width: 20px;
    height: 20px;
    fill: var(--paragraph-calm-color);
  }
  50% {
    padding-top: 0px;
    padding-right: 4px;
    margin-right: -4px;
    width: 22px;
    height: 22px;
    fill: var(--primary-color);
  }
}

@keyframes fadeInSharp {
  from { opacity: 0.1; }
  to   { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#subtitle.animate span:nth-child(1) {
  animation: fontbulger;
  animation-duration: 1s;
  animation-delay: 0s;
}

#subtitle.animate span:nth-child(2) {
  animation: fontbulger;
  animation-duration: 1s;
  animation-delay: 0.8s;
}

#subtitle.animate span:nth-child(3) {
  animation: fontbulger;
  animation-duration: 1s;
  animation-delay: 1.6s;
}

#subtitle.animate span:nth-child(4) {
  animation: fontbulger;
  animation-duration: 1s;
  animation-delay: 2.5s;
}

#contact.animate > .centered-container #city,
#contact.animate > .centered-container #state {
  animation: wellbulger;
  animation-duration: 1s;
  animation-delay: 2.8s;
}

#contact.animate > .centered-container #phone,
#contact.animate > .centered-container #email {
  animation: wellbulger;
  animation-duration: 1s;
  animation-delay: 3.0s;
}

#contact.animate > .centered-container svg {
  animation: svgbulger;
  animation-duration: 1s;
  animation-delay: 3.2s;
}

.immediate-fade-in {
  animation: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.delayed-fade-in {
  animation: fadeInSharp;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  /* animation-delay: 0.1s; */
  animation-delay: 0.01s;
}

#page-title {
  opacity: 0.1;
}

#contact {
  opacity: 0.1;
}

section.my-work {
  opacity: 0;
}

/* section.my-work.delayed-fade-in {
  animation-duration: 4s;
  animation-delay: 4.0s;
} */

section.my-work.delayed-fade-in-wk {
  animation: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-delay: 3.5s;
}
