:root {
  overscroll-behavior: none;

  --background-color: #eee;
  --paper-color: #ddd;

  --primary-color: #0077cc;
  --primary-light-color: #005599;   /* delta: 0x00, 0x22, 0x33 */
  --secondary-color: #00adcc;
  --secondary-light-color: #008b99;

  --heading-color: #111;
  --paragraph-color: #333;
  --paragraph-calm-color: #888;
  --mystery-color: #00111a;
}

h1, h2, h3, strong {
  /* color: var(--paragraph-calm-color); */
  /* color: var(--heading-color); */
  /* color: var(--primary-color); */
  /* color: var(--mystery-color); */
}

body {
  overscroll-behavior: none;
  color: var(--paragraph-color);
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
}

.no-render {
  display: none;
}

.helix-container {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;

  canvas {
    width: 155px; /* these dimensions were meant to differ to ensure our resolution is good... things might need checking up on */
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .hideable {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
}

@media (min-width: 1000px) {
  /* I'm on the fence about hiding the scroll bar again... */
  /* ::-webkit-scrollbar {
      display: none;
  } */

  .hideable {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

/* A well */
.well {
  display:flex;
  justify-content: center;

  /* The centered container div */
  & > div {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:  30px;
    padding-right: 30px;

    background: linear-gradient(90deg, #dddf, #ddda );
    color: #444;

    border-radius: 8px;

    div {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

}

.contact {
  text-align: center;

  /* Centered Div */
  & > div {
    .location {
      font-size: 1.2em;
    }
  }
}

h1.title {
  color: var(--mystery-color);
  text-align: center;
  font-size: 3em;
}

#subtitle {
  text-align: center;
  color: var(--paragraph-color);
  cursor: default;
}

#subtitle span {
  font-size: 1.3em;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* Project Items Display */
ul.projects {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;

  /* Project Item */
  li {
    margin-bottom: 20px;

    &:nth-child(odd) .image-container {
      float: left;
      margin-left: 0px;
    }

    &:nth-child(even) .image-container {
      float: right;
      margin-left: 20px;
    }

    /* Make tags look like rounded "bubbles" */
    ul.tags {
      order: 1;

      margin-top: 0px;
      margin-bottom: 8px;

      list-style: none;
      padding-left: 0px;
      margin-left: 0px;

      li {
        display: inline-block;
        cursor: default;

        margin-top: 0px;
        margin-bottom: 5px;
        margin-right: 8px;

        background: var(--secondary-color);
        color: #eee;
        padding: 5px 8px;
        border-radius: 20px;
        font-size: 12px;

        &:hover {
          background-color: var(--secondary-light-color);
          color: white;
        }
      }
    }

    div.image-container {
      width: 200px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .image {
      width: 100%;
      border-radius: 40px;
      opacity: 80%;
      /* max-height: 142px; */
    }

    /* Link/ header description */
    a.subject {
      display: inline-block;
      margin-bottom: 9px;
      order: 0;
      font-weight: bold;
      font-size: 1.2em;
      color: var(--primary-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: var(--primary-light-color);
      }

      /* Puts the GH icon before the link */
      &::before {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-right: 4px;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' %3E%3Cpath  fill='%2300111a' d='M12.5.75C6.146.75 1 5.896 1 12.25c0 5.089 3.292 9.387 7.863 10.91.575.101.79-.244.79-.546 0-.273-.014-1.178-.014-2.142-2.889.532-3.636-.704-3.866-1.35-.13-.331-.69-1.352-1.18-1.625-.402-.216-.977-.748-.014-.762.906-.014 1.553.834 1.769 1.179 1.035 1.74 2.688 1.25 3.349.948.1-.747.402-1.25.733-1.538-2.559-.287-5.232-1.279-5.232-5.678 0-1.25.445-2.285 1.178-3.09-.115-.288-.517-1.467.115-3.048 0 0 .963-.302 3.163 1.179.92-.259 1.897-.388 2.875-.388.977 0 1.955.13 2.875.388 2.2-1.495 3.162-1.179 3.162-1.179.633 1.581.23 2.76.115 3.048.733.805 1.179 1.825 1.179 3.09 0 4.413-2.688 5.39-5.247 5.678.417.36.776 1.05.776 2.128 0 1.538-.014 2.774-.014 3.162 0 .302.216.662.79.547C20.709 21.637 24 17.324 24 12.25 24 5.896 18.854.75 12.5.75Z' /%3E%3C/svg%3E")
      }

      /* If there is no public gh url, add the no-link class and the anchor will
         behave as a span.  An href can still be set pointing to where I store
         this project privately and that won't render anywhere. */
      &.no-link {
        cursor: default;

        &::before {
          display: none;
        }

        &:hover {
          /* cursor: text; */
          cursor: default;
          text-decoration: none;
          color: var(--primary-color);
        }
      }

    }

    p {
      margin-top: 0px;
      margin-bottom: 16px;
    }

    /* The natural paragraph-style description */
    .description {
      order: 2;
      display: block;
      font-size: 1em;

      color: #333;
      margin-top: 0px;
      margin-bottom: 0px;

      p:not(:first-child) {
        text-indent: 2rem;
      }

      a {
        color: var(--primary-color);
        text-decoration: none;

        &:hover {
          color: var(--primary-light-color);
          text-decoration: underline;
        }
      }

    }

  }
}
